@import "../../assets/css/colors.less";

.userWrap {
    height: 60px;

    .user {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    border-bottom: 1px solid @colorDark;
}

.header {
    height: 40px;
    line-height: 40px;
}

.breadcrumb {
    text-align: center;
}

.breadcrumb::after {
    display: inline-block;
    content: '';
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
}

.weather {
    text-align: right;
    padding-right: 40px;
}
